{{ define "iconNew" }}
<svg class="svg-icon" viewBox="0 0 20 20">
    <path fill="none"
          d="M13.388,9.624h-3.011v-3.01c0-0.208-0.168-0.377-0.376-0.377S9.624,6.405,9.624,6.613v3.01H6.613c-0.208,0-0.376,0.168-0.376,0.376s0.168,0.376,0.376,0.376h3.011v3.01c0,0.208,0.168,0.378,0.376,0.378s0.376-0.17,0.376-0.378v-3.01h3.011c0.207,0,0.377-0.168,0.377-0.376S13.595,9.624,13.388,9.624z M10,1.344c-4.781,0-8.656,3.875-8.656,8.656c0,4.781,3.875,8.656,8.656,8.656c4.781,0,8.656-3.875,8.656-8.656C18.656,5.219,14.781,1.344,10,1.344z M10,17.903c-4.365,0-7.904-3.538-7.904-7.903S5.635,2.096,10,2.096S17.903,5.635,17.903,10S14.365,17.903,10,17.903z"></path>
</svg>
{{ end }}
{{ define "iconDel" }}
<svg class="svg-icon" viewBox="0 0 20 20">
    <path fill="none"
          d="M10,1.344c-4.781,0-8.656,3.875-8.656,8.656c0,4.781,3.875,8.656,8.656,8.656c4.781,0,8.656-3.875,8.656-8.656C18.656,5.219,14.781,1.344,10,1.344z M10,17.903c-4.365,0-7.904-3.538-7.904-7.903S5.635,2.096,10,2.096S17.903,5.635,17.903,10S14.365,17.903,10,17.903z M13.388,9.624H6.613c-0.208,0-0.376,0.168-0.376,0.376s0.168,0.376,0.376,0.376h6.775c0.207,0,0.377-0.168,0.377-0.376S13.595,9.624,13.388,9.624z"></path>
</svg>
{{ end }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{ .Language }}-{{ .Version }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.min.css">
    <link rel="stylesheet" href="/style.css">

    <!-- codemirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/mode/meta.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/addon/mode/loadmode.min.js"></script>
    <!-- we don't load any modes here, as we load them only as needed -->

    <script defer src="/lang.js"></script>

    <!-- runtime templates done in javascript -->
    <template id="fileTemplate">
        <li>
            <a href="#">filename</a>
            <span><button class="delete">{{ template "iconDel" }}</button></span>
        </li>
    </template>
    <template id="dirTemplate">
        <li>
            <span>baz</span>
            <span>
                <button class="new">{{ template "iconNew" }}</button>
                <button class="delete">{{ template "iconDel" }}</button>
            </span>
            <ul></ul>
        </li>
    </template>
</head>
<body>
    <header>
        <h1>{{ .Language }}-{{ .Version }}</h1>
    </header>
    <main>
        <nav class="directoryTree">
            <ul>
                <!-- doesn't make sense to delete the root directory, so don't use the dir template -->
                <li id="pwd">
                    <span>/</span>
                    <span>
                        <button class="new button">{{ template "iconNew" }}</button>
                    </span>
                    <ul></ul>
                </li>
            </ul>
        </nav>
        <textarea class="editor" title="fileName"></textarea>
    </main>
    <hr>
    <label for="runCommand">Command:</label><input type="text" id="runCommand">
    <button id="runButton">Run</button>
    <progress id="runProgress" value="0"></progress>
    <h3>Output</h3>
    <pre id="outputArea"></pre>
    <footer></footer>
</body>
</html>
